@model WebAppHF.Models.Restaurant
<div class="container" id="main-body">
    <div class="container col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h1>Booking a Restaurant</h1>
                <p>Make a reservation for @Html.DisplayFor(model => model.Name) below. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="font-weight-bold">Amount of persons</label>
                            <input type="text" class="form-control" id="InputPersons" aria-describedby="PersonsHelp" placeholder="Amount of persons">
                        </div>
                        <div class="form-group col-md-4">
                            <label class="font-weight-bold">Reservation day</label>
                            <div class="dropdown">
                                <button class="btn btn-primary main-btn dropdown-toggle" type="button" id="dropdown-day" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Select day </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" href="#">Thursday</a> <a class="dropdown-item" href="#">Friday</a> <a class="dropdown-item" href="#">Saturday</a> <a class="dropdown-item" href="#">Sunday</a> </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="font-weight-bold">Reservation Time</label>
                            <div class="dropdown">
                                <button class="btn btn-primary main-btn dropdown-toggle" type="button" id="dropdown-day" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Select time </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" href="#">Thursday</a> <a class="dropdown-item" href="#">Friday</a> <a class="dropdown-item" href="#">Saturday</a> <a class="dropdown-item" href="#">Sunday</a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="exampleTextarea">Please tell us anything we might need to know (I.e. allergies)</label>
                            <textarea class="form-control" id="QuestionTextarea" rows="4"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary main-btn">Add to Basket</button>
                </form>
            </div>
            <div class="col-md-6"> <img src="../images/patronaat1.jpg" class="img-fluid" alt="Responsive image"> </div>
        </div>
    </div>
</div>


