@model WebAppHF.Models.Jazz

@{
    ViewBag.Title = "AddPhotoJazz";
}

@using (Html.BeginForm("AddPhotoJazz", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        <label for="file">Upload Image:</label>
        <input type="file" name="file" id="file" style="width: 100%;" />
        <input type="submit" value="AddPhoto" class="submit" />
    </div>
}

<h2>AddPhotoRestaurant</h2>

