
@{
    ViewBag.Title = "Book";
}

@*Hier begint samir zn shit*@
<div class="row">
    <div class="col-md-12">
        <h3 class="margin-reservation">Ticket information - Saturday</h3>
        <p>There are multiple types of tickets available for Jazz@Patronaat. You can buy one of the 2 types of tickets: passe-partout tickets or a single tickets for a concert.</p>
        <p>
            <b>Pass-partout tickets</b>
            <br> A passe-partout ticket for a day cost €35. If you want a passe-partout ticket for Thursday, Friday and Saturday the price is €80.
        </p>
        <p>
            <b>Regular ticket</b>
            <br> A regular ticket cost between €10 and €15. It depends on which hall the artists performs.
        </p>
    </div>
</div>
<div class="row margin-reservation">
    <div class="col-md-8">
        <h4>Insert amount of tickets</h4>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="col">Tickets</th>
                    <th scope="col">Type</th>
                    <th scope="col">Price</th>
                </tr>
                <tr>
                    <th scope="row">TextBox</th>
                    <td>Passe-partout for a day</td>
                    <td>€35,00</td>
                </tr>
                <tr>
                    <th scope="row">TextBox</th>
                    <td>Passe-partout for Thursday, Friday and Saturday</td>
                    <td>€80,00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row margin-reservation">
    <div class="col-md-12">
        <h4>Insert amount of regular tickets</h4>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="col">Tickets</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Price per Ticket</th>
                    <th scope="col">Date and Time</th>
                    <th scope="col">Location</th>
                </tr>
                <tr>
                    <th scope="row">TextBox</th>
                    <td>Gare du Nord</td>
                    <td>€15,00</td>
                    <td>Saturday 28-07-2018 | 18:00 - 19:00</td>
                    <td>Patronaat - Main Hall</td>
                </tr>
                <tr>
                    <th scope="row">TextBox</th>
                    <td>Gare du Nord</td>
                    <td>€15,00</td>
                    <td>Saturday 28-07-2018 | 18:00 - 19:00</td>
                    <td>Patronaat - Main Hall</td>
                </tr>
                <tr>
                    <th scope="row">TextBox</th>
                    <td>Gare du Nord</td>
                    <td>€15,00</td>
                    <td>Saturday 28-07-2018 | 18:00 - 19:00</td>
                    <td>Patronaat - Main Hall</td>
                </tr>
                <tr>
                    <th scope="row">TextBox</th>
                    <td>Gare du Nord</td>
                    <td>€15,00</td>
                    <td>Saturday 28-07-2018 | 18:00 - 19:00</td>
                    <td>Patronaat - Main Hall</td>
                </tr>
                <tr>
                    <th scope="row">TextBox</th>
                    <td>Gare du Nord</td>
                    <td>€15,00</td>
                    <td>Saturday 28-07-2018 | 18:00 - 19:00</td>
                    <td>Patronaat - Main Hall</td>
                </tr>
                <tr>
                    <th scope="row">TextBox</th>
                    <td>Gare du Nord</td>
                    <td>€15,00</td>
                    <td>Saturday 28-07-2018 | 18:00 - 19:00</td>
                    <td>Patronaat - Main Hall</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary main-btn">Back to Overview</button>
        <button type="button" class="btn btn-primary main-btn talking-right">Add to Basket</button>
    </div>
</div>