
@{
    ViewBag.Title = "AddedToCart";
}

<h2>Item successfully added to your shoppingcart.</h2>

<h3>@Html.ActionLink("Click here to check your shoppingcart", "Cart", "Cart")</h3>
<h3>@Html.ActionLink("Click here to head to the homepage", "Index", "Home")</h3>
