
@{
    ViewBag.Title = "AddFailed";
}

<h2>Oops, something went wrong while adding the item to your shopping cart, try again later.</h2>

<h3>@Html.ActionLink("Click here to head to the homepage", "Index", "Home")</h3>