<div class="row">
    <div class="col-md-6">
        <h3>Talk: Rob Gielen meets Rob Trip</h3>
        <table class="table table-talking">
            <tbody>
                <tr>
                    <th scope="row">Place:</th>
                    <td>Toneelschuur en Filmschuur, Lange Begijnestraat 9, 2011 HH Haarlem</td>
                </tr>
                <tr class="">
                    <th scope="row">Time:</th>
                    <td>20:00 - 22:00</td>
                </tr>
                <tr class="">
                    <th scope="row">Date:</th>
                    <td>Thursday, 26th July</td>
                </tr>
                <tr class="">
                    <th scope="row">Interview language:</th>
                    <td>Dutch</td>
                </tr>
                <tr class="">
                    <th scope="row">Reservation:</th>
                    <td>Mandatory</td>
                </tr>
                <tr class="">
                    <th scope="row">Price:</th>
                    <td>Free</td>
                </tr>
                <tr class="">
                    <th scope="row">Description:</th>
                    <td>Have you ever wanted to question a famous DJ or a TV host? Giel Beelen (40) a famous DJ for 3FM and Rob Trip (57); another famous person will question each other, LIVE at the Toneelschuur in Haarlem.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 image-dinner">
        <p class="text-center">Femke Halsma</p> <img src="../images/patronaat1.jpg" class="img-fluid center-block" alt="Responsive image">
        <p class="text-center">Femke Halsma</p> <img src="../images/patronaat1.jpg" class="img-fluid center-block" alt="Responsive image">
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-primary main-btn">Make a Reservation</button>
        <button type="button" class="btn btn-primary main-btn">Make a Reservation</button>
    </div>
</div>