<div class="row" style="margin-top: 10px">
    <div class="col-md-8">
        <img class="grid-img" src="~/IMG/IMAGES_WALKS/MAPANDGRID/img-grid.jpg" />
    </div>
    <div class="col-md-4">
        <h3>About the tour</h3>
        <p>In this tour you will walk through the history of Haarlem. You will visit the most important historic locations of the city, the guide will explain what the importance of the location is for the city.
            The tour will take approximately 2,5 hours. During the tour there will be a 15 minute break with refreshments (one drink per person).
            The tour will start at the 'Grote Markt', near the 'Church of St. Bavo'. The start location will be marked with a giant flag ‘Historic Haarlem, walking the ages’.
        </p>
        <h3>Venues to visit are:</h3>
        <ol>
            <li>Church of St. Bavo</li>
            <li>Grote Markt</li>
            <li>De Hallen</li>
            <li>Proveniershof</li>
            <li>Jopenkerk (Break location)</li>
            <li>Waalse Kerk Haarlem</li>
            <li>Molen de Adriaan</li>
            <li>Amsterdamse Poort</li>
            <li>Hof van Bakenes</li>
        </ol>
    </div>
</div>

