<div class="row" style="margin-top: 10px">
    <div class="col-md-8">
        <img class="historic-map-image img-fluid" src="~/IMG/IMAGES_WALKS/MAPANDGRID/Map.jpg" alt="Map Image" />
        <div class="row venue-buttons ">
            <div class="col-md-8 btn-group">
                @for (int i = 1; i < 10; i++)
                {
                    <button class="btn btn-primary main-btn" onclick='LoadVenue(@i)'>@i</button>
                }
            </div>
        </div>
    </div>
    <div id="venue-content" class="col-md-4">
        @Html.Action("LoadMapVenue", new { id = 1})
    </div>
</div>

