<div class="row" style="margin-top: 10px">
    <div class="col-md-8">
        <img class="historic-map-image img-fluid" src="../IMG/IMAGES_WALKS/Map.jpg" alt="Map Image" />
        <div class="row venue-buttons ">
            <div class="col-md-8 btn-group">
                <button class="btn venue-select" value="1">1</button>
                <button class="btn venue-select" value="2">2</button>
                <button class="btn venue-select" value="3">3</button>
                <button class="btn venue-select" value="4">4</button>
                <button class="btn venue-select" value="5">5</button>
                <button class="btn venue-select" value="6">6</button>
                <button class="btn venue-select" value="7">7</button>
                <button class="btn venue-select" value="8">8</button>
                <button class="btn venue-select" value="9">9</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <img class="walk-venue-image" src="../../IMG/IMAGES_WALKS/BavoKerk.jpg" alt="Guur Generic Plaatje" />
        <h3 id="tour-location-title">
            <b>Placeholder</b>
        </h3>
        <p>Lorum Ipsum</p>
        <button class="btn book-button">Book tour</button>
    </div>
</div>

