@model WebAppHF.Models.Venue

<div class="col-md-4">
    <img class="walk-venue-image" src="@Model.ImagePath" alt="Guur Generic Plaatje" />
    <h3 id="tour-location-title">
        <b>@Model.Name</b>
    </h3>
    <p>@Model.InfoText</p>
    <button class="btn book-button">Book tour</button>
</div>
