@model WebAppHF.Models.Venue
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="col-md-5">
    <div class="row">
        <img src="@Model.ImagePath" alt="Guur Plaatje" />
        <p>@Model.Name</p>
        <p>@Model.InfoText</p>
    </div>
</div>
