@using WebAppHF.Models
@model List<WebAppHF.Models.DisplayRecord>
@{
    ViewBag.Title = "OrderPageTour";
}

@section scripts
{
    <script>
        $(function () {

            $('.order-table').hide();
        });

        function BtnClick(Id) {
            switch (Id) {
                case 'thu': $('#table-thursday').toggle("slide");
                    break;
                case 'fri': $('#table-friday').toggle("slide");
                    break;
                case 'sat': $('#table-saturday').toggle("slide");
                    break;
                default:
            }
        }
    </script>
}
<div class="row">
    <div class="col-md-6">
        <h1>Order a ticket</h1>
        <p>On this page you can make a reservation for a Historic Haarlem Tour. Pick a day and a time, and select the amount of ticktets you would like.</p>
    </div>
    <div class="col-md-2">
        <img src="../IMG/patronaat1.jpg" class="img-fluid  topside-images" alt="Responsive image">
    </div>
    <div class="col-md-2">
        <img src="../IMG/patronaat2.jpg" class="img-fluid  topside-images" alt="Responsive image">
    </div>
    <div class="col-md-2">
        <img src="../IMG/patronaat3.jpg" class="img-fluid  topside-images" alt="Responsive image">
    </div>
</div>
<hr id="ruler_historic">

<h2>Ticket Information</h2>
<p>The group will consist of 12 participants and one guide. Participants must at least be 12 years old and must be able to walk the entire route (no strollers are allowed).</p>
<h3>Ticket Price</h3>
<p>@Model.First().Event.GetPriceString() per ticket per person</p>
<h3>Group ticket</h3>
<p>A group ticket gets you 4 tickets for only € 60,- instead of € 70,-</p>

@*<div class="row col-md-12">
        <i onclick="BtnClick('thu')" class="fa fa-chevron-down fa-2x"></i>
        <h3 onclick="BtnClick('thu')">Thursday (26-07-2018)</h3>
    </div>

    <div class="row order-table" id="table-thursday">
        <div class="col-md-8">
            <table class="table">
                <tr>
                    <th>Tickets</th>
                    <th>Group tickets</th>
                    <th>Language</th>
                    <th>Time</th>
                    <th>Total price</th>
                </tr>
                <tr>
                    <td><input type="number" defaultValue="0" min="0" /></td>
                    <td><input type="number" defaultValue="0" min="0" /></td>
                    <td>
                        <select class="selectpicker">
                            <option>Dutch</option>
                            <option>English</option>
                            <option>Chinese</option>
                        </select>
                    </td>
                    <td>13:00</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td><input type="number" defaultValue="0" min="0" /></td>
                    <td><input type="number" defaultValue="0" min="0" /></td>
                    <td>
                        <select class="selectpicker">
                            <option>Dutch</option>
                            <option>English</option>
                            <option>Chinese</option>
                        </select>
                    </td>
                    <td>12:00</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td><input type="number" defaultValue="0" min="0" /></td>
                    <td><input type="number" defaultValue="0" min="0" /></td>
                    <td>
                        <select class="selectpicker">
                            <option>Dutch</option>
                            <option>English</option>
                            <option>Chinese</option>
                        </select>
                    </td>
                    <td>14:00</td>
                    <td>25</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <h5>Your guide will be:</h5>
            <p>
                Jan-Willem for the Dutch tours.<br />
                Frederic for the English tours.
            </p>
        </div>
    </div>

    <div class="row col-md-12">
        <i onclick="BtnClick('fri')" class="fa fa-chevron-down fa-2x"></i>
        <h3 onclick="BtnClick('fri')">Friday (27-07-2018)</h3>
    </div>

    <div class="row order-table" id="table-friday">
        <div class="col-md-8">
            <table class="table">
                <tr>
                    <th>Tickets</th>
                    <th>Group tickets</th>
                    <th>Language</th>
                    <th>Time</th>
                    <th>Total price</th>
                </tr>
                <tr>
                    <td><input type="number" defaultValue="0" min="0" /></td>
                    <td><input type="number" defaultValue="0" min="0" /></td>
                    <td>
                        <select class="selectpicker">
                            <option>Dutch</option>
                            <option>English</option>
                            <option>Chinese</option>
                        </select>
                    </td>
                    <td>13:00</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td><input type="number" defaultValue="0" min="0" /></td>
                    <td><input type="number" defaultValue="0" min="0" /></td>
                    <td>
                        <select class="selectpicker">
                            <option>Dutch</option>
                            <option>English</option>
                            <option>Chinese</option>
                        </select>
                    </td>
                    <td>12:00</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td><input type="number" defaultValue="0" min="0" /></td>
                    <td><input type="number" defaultValue="0" min="0" /></td>
                    <td>
                        <select class="selectpicker">
                            <option>Dutch</option>
                            <option>English</option>
                            <option>Chinese</option>
                        </select>
                    </td>
                    <td>14:00</td>
                    <td>25</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <h5>Your guide will be:</h5>
            <p>
                Jan-Willem for the Dutch tours.<br />
                Frederic for the English tours.
            </p>
        </div>
    </div>

    <div class="row col-md-12">
        <i onclick="BtnClick('sat')" class="fa fa-chevron-down fa-2x"></i>
        <h3 onclick="BtnClick('sat')">Saturday (28-07-2018)</h3>
    </div>

    <div class="row order-table" id="table-saturday">
        <div class="col-md-8">
            <table class="table">
                <tr>
                    <th>Tickets</th>
                    <th>Group tickets</th>
                    <th>Language</th>
                    <th>Time</th>
                    <th>Total price</th>
                </tr>
                <tr>
                    <td><input type="number" defaultValue="0" min="0" /></td>
                    <td><input type="number" defaultValue="0" min="0" /></td>
                    <td>
                        <select class="selectpicker">
                            <option>Dutch</option>
                            <option>English</option>
                            <option>Chinese</option>
                        </select>
                    </td>
                    <td>13:00</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td><input type="number" defaultValue="0" min="0" /></td>
                    <td><input type="number" defaultValue="0" min="0" /></td>
                    <td>
                        <select class="selectpicker">
                            <option>Dutch</option>
                            <option>English</option>
                            <option>Chinese</option>
                        </select>
                    </td>
                    <td>12:00</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td><input type="number" defaultValue="0" min="0" /></td>
                    <td><input type="number" defaultValue="0" min="0" /></td>
                    <td>
                        <select class="selectpicker">
                            <option>Dutch</option>
                            <option>English</option>
                            <option>Chinese</option>
                        </select>
                    </td>
                    <td>14:00</td>
                    <td>25</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <h5>Your guide will be:</h5>
            <p>
                Jan-Willem for the Dutch tours.<br />
                Frederic for the English tours.
            </p>
        </div>

    </div>*@
<div class="row bottom-row">
    <div class="col-md-12">
        <button class="btn btn-primary main-btn"><i class="fa fa-chevron-left back-icon"></i>Back</button>
        <button class="btn btn-primary main-btn shopping-btn">Add to basket<i class="fa fa-shopping-cart shopping-cart"></i></button>
    </div>
</div>

@*@foreach(DisplayRecord dr in Model)
    {
        <p> @(((Tour)dr.Event).Language)</p>
    }*@

<div class="row">
    <div class="col-md-8">
       

    </div>
</div>
