@model WebAppHF.Models.Venue

<div>
    <img class="walk-venue-image" src="@Model.ImagePath" alt="Venue Image" />
    <h3 id="tour-location-title">
        <b>@Model.Name</b>
    </h3>
    <p>@Model.InfoText</p>
</div>
