@model WebAppHF.Models.CartModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form>
    @foreach (var item in Model.Items)
    {
    <div class="col-md-3">
        @item.Name
        <br />
        <br />
        <br />
        //@Html.HiddenFor(Item => Item)




        @*<img src="~/IMG/patronaat2.jpg" class="img-fluid" alt="Responsive image">
        <h4 class="dag-header">@item.Name</h4>
        <p>
            <br> <b>Price:</b> &euro;@item.Price
        </p>
        <button type="button" class="btn btn-primary main-btn">I</button>
        <button type="button" class="btn btn-primary main-btn">@Html.ActionLink("Make a reservation", "Detail", "Restaurant", new { id = item.ID }, null)</button>*@
    </div>
    }
    <input type="submit" value="Submit" />
</form>

